[submodule "src/MOM6"]
	path = src/MOM6
	url = git@github.com:cspencerjones/MOM6.git
        branch = particle-multilevel
[submodule "src/FMS"]
	path = src/FMS
	url = git@github.com:NOAA-GFDL/FMS.git
[submodule "src/mkmf"]
	path = src/mkmf
	url = git@github.com:NOAA-GFDL/mkmf.git
[submodule "src/drifters"]
	path = src/drifters
	url = git@github.com:cspencerjones/drifters.git
        branch = spencer-multilevel
